body {
	color: blue;
	font-family: fantasy;
}
.baseTitle {
	color: rebeccapurple;
}

.postList {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
}

.postFromList {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.imagePostList {
	width: 30%;
}
