<div class="postList">
    {% for post in postslist %}
        <div class="postFromList">
            <strong>
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            </strong>
            -
            <span>
                {{ post.data.description }}
            </span>
            <img class="imagePostList" src="{{post.data.featuredImage}}" alt="{{post.data.featuredImage }}"></img>
        </div>
    {% endfor %}
</div>