<html>
    <head>
        <title>Eleventy + Netlify CMS Blog Example</title>
        {% set css %}
            {% include "index.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>

    <body>
        <h1 class="baseTitle">
            Eleventy + Netlify CMS Blog Example
        </h1>
        {{ content | safe }}
    </body>
</html>