<html>
    <head>
        <title>Eleventy + Netlify CMS Blog Example</title>
    </head>

    <body>
        <h1>
            Eleventy + Netlify CMS Blog Example
        </h1>
        {{ content | safe }}
    </body>
</html>